<div class="container-semi">
  <div class="card">
    <div class="row" style="padding-bottom: 200px;margin-top: 30px;">
      <div class="col-12">
        <div class="site-title text-center">
          <span>
            SISTEMAS ADMINISTRATIVO
          </span>
          <h2>
            PgFacture®
          </h2>
        </div>
      </div>
      <div class="col-12">
        <div class="col-md-4 mx-auto">
          <div class="s-middle-img">
            <img class="center-block" src="https://plataforma.pgfacture.com/pg-admin/include/img/favicon.png" alt="">
          </div>
          <div class="col-12">
            <div class="site-title text-center mt-2">
              <span>
                BIENVENID(A)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
